:root {
  --pr-color: #048853;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3fff4;
}

.nav-link {
  font-size: 16px;
}

.nav-link .active {
  font-weight: 700;
}

.button-secondary {
  width: 133px;
  height: 40px;
  background-color: #fff;
  color: var(--pr-color);
  border: none;
  font-size: 16px;
  font-weight: 700;
}

.button-primary {
  width: 133px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
}
